
  <div class="col-4 py-2">
    <div class="card border-warning mb-3">
      <div class="card-body">
        <h5 class="card text-dark bg-warning mb-3"><%= movie.name %></h5>
        <%= link_to "Mostrar", movie, class: "btn btn-dark card-body text-warning" %>
      </div>
    </div>
  </div>
