<p style="color: green"><%= notice %></p>

<div class="container">
  <h1>Clientes</h1>

  <%= link_to "Crear nuevo cliente", new_client_path %>

  <div id="clients">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class=" text-white bg-warning mb-3" scope="col">#</th>
          <th class=" text-white bg-warning mb-3" scope="col">Name</th>
          <th class=" text-white bg-warning mb-3" scope="col">Age</th>
          <th class=" text-white bg-warning mb-3" scope="col">Movie</th>
          <th class=" text-white bg-warning mb-3" scope="col" colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @clients.each do |client| %>
          <%= render client %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
